<!---formulario producto --->

<h1 style ="color:blue">Lista de Productos</h1>

<div id="Productos">
        <div class="table table-striped container table-success table-bordered">
            <div class="row align-items-start">
                <dt class="col">Id</dt>
                <dt class="col">Producto</dt>
                 <dt class="col">Descripcion</dt>
                 <dt class="col">Precio</dt>
                 <dt class="col">Codigo</dt>
               <dt class="col">Stock</dt>
                 <dt class="col">Categoria</dt>
              
                </div>
                {{#each products}}
        <div class="row">
     <div class="col" > {{this._id}}<button class="btn btn-warning" 
     onclick="deleteproducto('{{this._id}}')">Elimina</button>
     </div>       
    <div class="col"> {{this.title}}</div>
    <div class="col">{{this.description}}</div>
    <div class="col"> {{this.precio}}</div>
    <div class="col"> {{this.code}}</div>
    <div class="col"> {{this.stock}}</div>
     <div class="col"> {{this.category}}</div>
     
    </div>
    {{/each}}
    

<hr>
<p class="text-center">{{paginainf.page}}-{{paginainf.nextPage}}</p>
<p class="text-center">  {{#if paginainf.hasPrevPage}}
        <a href="{{paginainf.prevLink}}">Anterior</a>-
        {{/if}}
         {{#if paginainf.hasNextPage}}
         <a href="{{paginainf.nextLink}}">Siguiente</a>
        {{/if}}</p>
<hr>
      
    
</div>
   
